.coinsLoading{
    width: 100%;
    height: 100%;
    padding-top:2rem;
    text-align: center;
}

.coinsContainer{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
}

@media screen and (max-width: 1200px){
    .coinsContainer{
        padding-left: 3%;
        padding-right: 3%;
    }
}