.coin{
    padding: 1rem 0;
    border-bottom: 1px solid grey;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.coin:first-child{
    padding-top: 0;
}

.coin img{
    max-width: 25px;
    margin-right: 0.5rem;
}

.coin p{
    margin-right: 2rem;
    font-family: 'Poppins', sans-serif;
    height: min-content;
    /* display: inline; */
    line-height: 1rem;
}

.coin p:last-child{
    margin-right: 0;
}

.coinName{
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Orbitron', sans-serif;
    margin-right: 2rem;
    text-decoration: none;
}

.coinName:hover{
    box-shadow: 0px 2px 0px white;
}

.textGreen{
    color: green;
}

.textRed{
    color: red;
}

.upperCase{
    text-transform: uppercase;
}