.coin {
	padding: 1rem 0;
	border-bottom: 1px solid grey;
	color: grey;
	display: flex;
	font-size: 0.8rem;
	overflow-y: scroll;
}

.coin:hover {
	background-color: #302e30;
}

.coin p {
	font-family: "Poppins", sans-serif;
}

/* Coin label */

.coinLabel {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/* width: 100%; */
}

.coinImg {
	max-width: 25px;
	margin: 0 1rem;
}

.coinName {
	cursor: pointer;
	color: white;
	font-weight: 500;
	font-size: 0.9rem;
	font-family: "Orbitron", sans-serif;
	margin-right: 2rem;
	text-decoration: none;
	width: 150px;
	text-align: start;
}

.coinSymbol {
	text-transform: uppercase;
	width: 50px;
	text-align: start;
}

/* Coin stats */

.coinStats {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* background-color: antiquewhite; */
	width: 911px;
}

.coinStats p {
	margin-left: 1rem;
}

.coinCap {
	margin-right: 1rem;
}

.coinCap,
.coinVolume {
	width: 150px;
	text-align: end;
}

.textGreen {
	color: green;
	width: 75px;
	text-align: end;
}

.textRed {
	width: 75px;
	color: red;
	text-align: end;
}

.coinPrice {
	width: 100px;
	text-align: end;
}
